body {
    margin: 0;
    font-family:roboto;

}



.header {
    display: flex;
    padding-top: 25px;
    padding-bottom: 10px;
justify-content: space-between;
background-color:#1f2937;
color: #f9faf8;
font-size: 24px;
padding-left: 150px;
padding-right: 150px;
}


.left_header {
display: flex;
gap: 25px;
font-size: 18px;
}

.banner {
    display: flex;
   justify-content: space-between;
   padding-top:45px;
   padding-bottom: 45px;
   background-color:#1f2937;
   padding-left: 150px;
padding-right: 150px;
}

.left-text-banner {
display: flex;
flex-direction: column;
width: 300px;
}

.hero_main_text {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}
.hero_text {
    color:#e5e7eb;
    font-size: 18px;
    
}
.butt1{
    background-color:#3882f6;
    color:#e5e7eb;
    border: none;
    border-radius: 5px;
    width: 100px;
    padding:5px;
cursor: pointer;
}
.second_block {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}

.interest_block {
    display: flex;
    gap: 25px;
}
.interest {
    width: 150px;
    color:#e5e7eb;
    font-size: 18px;
    text-align:center;
}
.interest img {
width: 150px;
height: 150px;
object-fit: cover;
border: 5px solid #3882f6;
border-radius: 25px;
}
.intersing_text {
    font-size: 36px;
    font-weight: 900;
    color:#1f2937
}

.second_block a {
font-size: 18px;
color: #1f2937;
}

.third_block {
    display:flex;
    flex-direction: column;
    background-color:#e5e7eb ;
    padding-left: 150px;
    padding-right: 150px;
}

.qoute {
    padding-top: 50px;
    padding-bottom: 50px;
}
.qoute p {
    margin: 0;
    text-align: end;
    font-weight:700;
    margin-top: 10px
}

.qoute-text {
    font-size: 20px;
    color: #1f2937;
    font-style: italic;
}

.fourth_bock {
    padding-left: 100px;
    padding-right: 100px;
    margin-top: 50px;
    margin-bottom: 50px;

}
.call_to {
    display: flex;

background-color: #3882f6;
padding: 25px 100px 25px 100px;
border-radius: 10px;
align-items: center;
justify-content:space-between;
    

    
}
.call_text {
    display: flex;
    flex-direction: column;
    color: #f9faf8;

}

.butt2 {
    background-color:#3882f6;
    color: #f9faf8;
    border:  2px solid white;
    border-radius: 5px;
    width: 65px;
    height: 40px;
cursor: pointer; 
    
}
.secondary_text {
    font-size: 15px;
    
}

.footer {
    display: flex;
    justify-content: center;
    background-color: #1f2937;
    color: #e5e7eb;
    padding-top: 25px;
    padding-bottom: 25px;
}
